# Managed by ansible

# Secrets for authentication using CHAP
# client     server     secret     IP addresses
{% for item in l2tp_ipsec_server_users %}
"{{ item.username }}" "xl2tpd"  "{{ item.password }}"  {{ item.ipaddress | default("*") }}
{% endfor %}
