; Managed by ansible
;
; Sample l2tpd configuration file
;
; This example file should give you some idea of how the options for l2tpd
; should work.  The best place to look for a list of all options is in
; the source code itself, until I have the time to write better documentation :)
; Specifically, the file "file.c" contains a list of commands at the end.
;
; You most definitely don't have to spell out everything as it is done here

[lns default]
  ip range = {{ l2tp_ipsec_server_ip_range }}
  local ip = {{ l2tp_ipsec_server_local_ip }}
  length bit = yes                          
  refuse pap = yes                          
  refuse chap = yes                         
  require authentication = yes              
  name = l2tp                               
  pppoptfile = /etc/ppp/options.xl2tpd